*{
    margin: 0;padding: 0; box-sizing: border-box;
}
:root{
    --width:100%;
}
nav{
    background-color: #333;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 50vh;
    background-color: #333;
    background-blend-mode: multiply;
    color: #fff;
}
.header .head h1{
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5); 
} 
.header .head p{ 
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
} 
table{
    width: 100%;
    border-collapse: collapse;
}
table tr{
    border-bottom: 1px solid #ddd;
}

table th, table td{
    padding: 10px;
    text-align: left;
    border-right: 1px solid #ddd;
}
